<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            line-height: 1.5;
        }

        div {
            margin: 0;
            background-color: antiquewhite;
            padding: 30px;
        }
    </style>
    <title>Email | Approval </title>
</head>

<body>
    <div>
        <h1>Hello {{name}}</h1>
        <p>You Bill has Been Approved By You Manager {{manager}} . Bill Amount will be credited to your account soon</p>
    </div>
</body>

</html>